---
title: Pivotal Build Service
owner: Build Service Team
---

<strong><%= modified_date %></strong>

This topic provides an overview of Pivotal Build Service. 

## <a id='overview'></a> Overview

Build Service uses the open-source Cloud Native Buildpacks project to change app source code into container images. This allows Build Service to execute reproducible builds that align with modern container standards. You can use Build Service to securely use containerized software development at scale.

For more information about modern container standards, see [Open Container Initiative](https://github.com/opencontainers/image-spec/blob/master/spec.md) in Github.

For more information about the open-source Cloud Native Buildpacks project, see [Cloud Native Buildpacks](http://buildpacks.io).


## <a id='automated-image-rebuilds'></a> How Build Service Automates Image Builds

Build Service reduces operational overhead and improves security by automating builds of container images for apps in your environment. 

Build Service uses the following configurations to automate builds of container images: 

* **Image**: The image configuration includes several inputs that describe the app. Build Service builds container images that resolve any discrepancies between the description of the app in the image configuration and the latest version of the image. Build Service can automatically build a new image when the latest versions of app dependencies are available.

* **Team**: The team configuration is a Build Service extension that uses UAA to provide user access control to image configurations.

The Build Service CLI, `pb`, allows you to define and modify the image and team configurations for Build Service.


## <a id='troubleshooting'></a>Troubleshooting

For troubleshooting Build Service, contact the Build Service team. 