---
title: Managing the Stack
owner: Build Service Team
---

The Stack provides the build and run images for the Cloud Native Buildpack stack that will be used in a builder.

Build Service ships with the `org.cloudfoundry.stacks.cflinuxfs3` stack. Updates to this stack are provided on the [Tanzu Network Build Service Dependency](https://network.pivotal.io/products/tbs-dependencies/) page.

<p class='note'><strong>Note:</strong> Only Build Service Admins can perform stack commands.</p>

## <a id='update-stack'></a> Updating the Stack

Users can update the stack using build and run images from a Docker registry or the local machine:

- If using a Docker registry:

    ```
    pb stack update -b <build image> -r <run-image>
    ```

<p class='note'><strong>Note:</strong> The user must have read access to the source Docker registry and write access to build service registry on the local machine.</p>

* If using local stack images created with `docker save`:

    ```
    pb stack update -b <path to build-image>.tar -r <path to run-image> --local
    ```

<p class='note'><strong>Note:</strong> Currently, Build Service only supports the <strong>cflinuxfs3</strong> build and run images.</p>

## <a id='get-stack-status'></a> Retrieving the Stack Status

Users can get the current status of the stack:

    pb stack status

The following is an example of the output for this command:

    Stack ID:    org.cloudfoundry.stacks.cflinuxfs3
    Run Image:   cloudfoundry/run:full-cnb
    Build Image: cloudfoundry/build:full-cnb

## <a id='kpack-resources'></a> Corresponding kpack Resource

All Build Service builders utilize a cluster scoped [Stack Resource](https://github.com/pivotal/kpack/blob/master/docs/custombuilders.md#stack) with the name `build-service-stack`.
