---
title: Managing Stores
owner: Build Service Team
---

A Store is a cluster level resource that provides a collection of buildpacks that can be utilized by Builders. Buildpacks are distributed and added to a store in buildpackages which are docker images containing one or more buildpacks.

Build Service ships with a curated collection of Tanzu buildpacks for Java, Nodejs, Go, PHP, nginx, and httpd and Paketo buildpacks for procfile, and .NET Core. It is important to keep these buildpacks up-to-date. Updates to these buildpacks are provided on [Tanzu Network](https://network.pivotal.io/).

In addition to supported Tanzu and Paketo buildpacks, custom buildpackages can be uploaded to Build Service stores.

## <a id='buildpacks-buildpackages'></a> Creating Buildpacks and Buildpackages

Documentation for creating buildpacks is available [here](https://buildpacks.io/docs/buildpack-author-guide/create-a-buildpack/).

Documentation for creating buildpackages is available [here](https://buildpacks.io/docs/buildpack-author-guide/package-a-buildpack/).

<p class='note'><strong>Note:</strong> Only Build Service Admins can perform store commands.</p>

## <a id='list-stores'></a> Listing Stores

Users can view the existing stores with:

    kp clusterstore list

## <a id='create-store'></a> Creating a Store

Tanzu Build Service ships with a `default` store containing all of the supported buildpacks. Users can create additional stores with:


    kp clusterstore create <store-name> -b <buildpackage-1> -b <buildpackage-2>

<p class='note'><strong>Note:</strong> The user must have read access to the source Docker registry and write access to the registry used for installation on the local machine.</p>

## <a id='add-buildpackages-to-store'></a> Adding Buildpackages to a Store

Users can add multiple buildpackages at a time from a registry or from a file on the local machine:

* If using a Docker registry:

    ```
    kp clusterstore add <store-name> -b <buildpackage-1> -b <buildpackage-2> ...
    ```

<p class='note'><strong>Note:</strong> The user must have read access to the source Docker registry and write access to the registry used for installation on the local machine.</p>

* If using local `.cnb` buildpackage files created as described in the [buildpackages docs](https://buildpacks.io/docs/buildpack-author-guide/package-a-buildpack/):

    ```
    kp clusterstore add <store-name> -b <path-to-buildpackage-1>.cnb -b <path-to-buildpackage-2>.cnb ...
    ```

### <a id='add-buildpackages-to-store-tanzu'></a> Adding Buildpackages to a Store from Tanzu Network

Updated versions of all supported Buildpacks will be available on [Tanzu Network](https://network.pivotal.io) as registry images. Updated Buildpacks will be found in the following locations:

* [Java](https://network.pivotal.io/products/tanzu-java-buildpack)
* [NodeJS](https://network.pivotal.io/products/tanzu-nodejs-buildpack)
* [Go](https://network.pivotal.io/products/tanzu-go-buildpack)
* [PHP, .NET Core, nginx, httpd, procfile](https://network.pivotal.io/products/tbs-dependencies)

Here is a list of how to update each buildpack that is included with Tanzu Build Service by default:

```
kp clusterstore add default registry.pivotal.io/tanzu-java-buildpack/java:<version>
kp clusterstore add default registry.pivotal.io/tanzu-nodejs-buildpack/nodejs:<version>
kp clusterstore add default registry.pivotal.io/tanzu-go-buildpack/go:<version>
kp clusterstore add default registry.pivotal.io/tbs-dependencies/paketo-buildpacks_dotnet-core:<version>
kp clusterstore add default registry.pivotal.io/tbs-dependencies/tanzu-buildpacks_php:<version>
kp clusterstore add default registry.pivotal.io/tbs-dependencies/tanzu-buildpacks_nginx:<version>
kp clusterstore add default registry.pivotal.io/tbs-dependencies/tanzu-buildpacks_httpd:<version>
kp clusterstore add default registry.pivotal.io/tbs-dependencies/paketo-buildpacks_procfile:<version>
```

### <a id='add-buildpackages-to-store-offline'></a> Offline Adding Buildpackages to a Store from Tanzu Network

If your Tanzu Build Service installation is in an offline/air-gapped environment, you can update stores with the following offline workflow:

1. Download the Dependency Descriptor file (`descriptor-<version>.yml`) from the latest release on the [Tanzu Build Service Dependencies](https://network.pivotal.io/products/tbs-dependencies/) page on Tanzu Network.

2. Download the `kp` CLI for your operating system from the latest release on the [Tanzu Build Service](https://network.pivotal.io/products/tbs-dependencies/build-service) page.

3. Download the `kbld` CLI for your operating system from the latest release on the [kbld](https://network.pivotal.io/products/kbld) page.

4. Download the dependency images for Tanzu Build Service to your local machine with `kbld`:

```
docker login registry.pivotal.io

kbld package -f descriptor-<version>.yml \
  --output /tmp/packaged-dependencies.tar
```

5. Move the output file `packaged-dependencies.tar` to a machine that has access to the "offline" environment

6. Upload the dependency images to the registry used to deploy Tanzu Build Service:

```
docker login <build-service-registry>

kbld unpackage -f descriptor-<version>.yml \
  --input /tmp/packaged-dependencies.tar \
  --repository <IMAGE-REPOSITORY> \
  --lock-output /tmp/dependencies-relocated.lock
```

Where `IMAGE-REPOSITORY` is the repository used to install Tanzu Build Service. This should be the same value as `IMAGE-REPOSITORY` used in the [Installation Steps](installing.html#other-install).

7. Now that dependencies are relocated to the internal registry, you can use the following command to update the necessary resources:

```
kbld -f descriptor-<version>.yml -f /tmp/dependencies-relocated.lock | kp import -f -
```

## <a id='remove-buildpackages-from-store'></a> Removing Buildpackages from a Store

Users can remove a buildpackage from a store:

    kp clusterstore remove <store-name> -b <buildpackage>

<p class='note'><strong>Note:</strong> Buildpackages must be removed from stores by full image reference. The <code>&lt;buildpackage&gt;</code> args should include their digests and will look like <code>registry.io/repository@sha256:<sha256></code>.</p>

## <a id='show-buildpackages-in-store'></a> Store Status

Users can use the `kp` CLI to get details about a store including buildpackages and their buildpacks, as well as meta-buildpacks. [Meta-buildpacks](https://buildpacks.io/docs/concepts/components/buildpack/#meta-buildpack) are buildpacks that indicate the order that other buildpacks run:

To view the buildpackages in a store:

    kp clusterstore status <store-name>

To view buildpackages & their individual buildpacks as well as display the order of meta-buildpacks:

    kp clusterstore status <store-name> --verbose
    
## <a id='kpack-resources'></a> Migrating Buildpacks

Build Service will never automatically remove buildpackages from the store unless you explicitly remove them. 
In this way, users can continue to use older buildpacks until the operator is ready to migrate them.

How you migrate is entirely dependent on the configuration of your Builder resources:
    * Builders that do not provide a buildpack version will automatically update to the latest buildpack version if it is available. 
    * Builders that explicitly specify a buildpack version will not update automatically.

With the above in mind, migrating buildpackages in the store is as simple as `kp clusterstore add`ing newer buildpackages and `kp clusterstore remove`ing older buildpackages as necessary.

If you'd like fine-grained control over buildpack updates, you can create multiple stores to manage buildpack versions.
Then, you can point individual builders at the desired store. Each store may pin buildpack versions or update them as needed
without effecting other builders or fanning out large, sweeping changes.

## <a id='kpack-resources'></a> Corresponding kpack Resource

All Build Service builders utilize cluster scoped [Store Resources](https://github.com/pivotal/kpack/blob/master/docs/custombuilders.md#store).
