---
title: Using Tanzu Build Service Without Projects
owner: Build Service Team
---

Tanzu Build Service projects are a resource that simplifies kubernetes namespaces and RBAC to provide multi-tenancy for images, secrets, and builders.

Projects are optional if users do not require multi-tenancy or if they prefer to manage multi-tenancy via alternative mechanisms.

## <a id='using-pb-without-projects'></a> Using the `kp` cli

The `kp` cli may work with existing namespaces by targeting them with the `-n` flag that is available for namespaced resources.

For example:

```
kp image create ... -n NAMESPACE-NAME
kp image patch ... -n NAMESPACE-NAME
kp secret create ... -n NAMESPACE-NAME
kp custom-builder create ... -n NAMESPACE-NAME
```

<p class='note'><strong>Note:</strong> By default, the <code>kp</code> cli will use the <code>default</code> namespace if no namespace has been provided.</p>
