---
title: Tutorial for kpack
owner: Build Service Team
---

This topic describes how to get started with kpack, a collection of open source resource controllers and CRDs that contain declarative build logic.  The following documentation assumes the reader has installed kpack as well as the following pre-requirements

- Kubernetes cluster
- `kubectl` cli
- Docker V2 Registry

## <a id='image-resource'></a>The Image Resource

The `image` resource is what kpack utilizes to declaratively build application images. The following defines the relevant fields of the `image` resource spec in more detail:

- `tag`: The image tag.
- `builder`: Configuration of the `builder` resource the image builds will use. See the "Builder Configuration" section below.
- `serviceAccount`: The Service Account name that will be used for credential lookup.
- `source`: The source code that will be monitored/built into images. See the [Source Configuration](#source-config) section below.
- `cacheSize`: The size of the Volume Claim that will be used by the build cache.
- `failedBuildHistoryLimit`: The maximum number of failed builds for an image that will be retained.
- `successBuildHistoryLimit`: The maximum number of successful builds for an image that will be retained.
- `imageTaggingStrategy`: Allow for builds to be additionally tagged with the build number. Valid options are `None` and `BuildNumber`.
- `build`: Configuration that is passed to every image build. See "Build Configuration" section below.

### <a id='builder-config'></a>Builder Configuration

The `builder` field describes the builder that will build the OCI images for a provided image configuration. It can be defined in exactly one of the following ways:

* Cluster Builder

    ```yaml
    builder:
        name: cluster-builder-name
        kind: ClusterBuilder
    ```
- `name`: The name of the ClusterBuilder resource in kubernetes.
- `kind`: The type as defined in kubernetes. This will always be ClusterBuilder.

* Namespaced Builder

    ```yaml
    builder:
        name: builder-name
        kind: Builder
    ```
- `name`: The name of the Builder resource in kubernetes.
- `kind`: The type as defined in kubernetes. This will always be Builder.

**NOTE:** This image can only reference builders defined in the same namespace. This is not true for ClusterBuilders because they are not namespace scoped.

### <a id='source-config'></a>Source Configuration

The `source` field is a composition of a source code location and a `subpath`. It can be configured in exactly one of the following ways:

* Git

    ```yaml
    source:
      git:
        url: ""
        revision: ""
      subPath: ""
    ```
- `git`: (Source Code is a git repository)
    - `url`: The git repository url. For now, only https repositories are supported.
    - `revision`: The git revision to use. This value may be a commit sha, branch name, or tag.
- `subPath`: A subdirectory within the source folder where application code resides. Can be ignored if the source code resides at the `root` level.

* Blob

    ```yaml
    source:
      blob:
        url: ""
      subPath: ""
    ```
- `blob`: (Source Code is a blob/jar in a blobstore)
    - `url`: The URL of the source code blob. This blob needs to either be publicly accessible or have the access token in the URL
- `subPath`: A subdirectory within the source folder where application code resides. Can be ignored if the source code resides at the `root` level.

* Registry

    ```yaml
    source:
      registry:
        image: ""
        imagePullSecrets:
        - name: ""
      subPath: ""
    ```
- `registry` ( Source code is an OCI image in a registry)
    - `image`: Location of the source image
    - `imagePullSecrets`: A list of `dockercfg` or `dockerconfigjson` secret names required if the source image is private
- `subPath`: A subdirectory within the source folder where application code resides. Can be ignored if the source code resides at the `root` level.

### <a id='build-config'></a>Build Configuration

The `build` field on the `image` resource can be used to configure env variables required during the build process and to configure resource limits on `CPU` and `memory`.

```yaml
build:
  env:
    - name: "name of env variable"
      value: "value of the env variable"
  resources:
      limits:
        cpu: "0.25"
        memory: "128M"
      requests:
        cpu: "0.5"
        memory: "256M"
```

See the kubernetes documentation on [setting environment variables](https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/) and [resource limits and requests](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container) for more information.

### <a id='create-builder'></a> Creating a Builder Resource

There are two different Builder resources that are supported by kpack. These Builder resources need to be created
prior to the creation of any Image Resource, because they will define what builder will be used to create these images.

* Namespaced Builder
    As the name indicates this is a Builder that exists inside a namespace and cannot be shared between namespaces.
    This property allow the user to push the image of the builder to a Private Registry by giving the option to set
    ImagePullSecret.
    Next you can find an example on how to create this resource

    ```yaml
    apiVersion: build.pivotal.io/v1alpha1
    kind: Builder
    metadata:
      name: sample-builder
      namespace: some-namespace
    spec:
      image: cloudfoundry/cnb:bionic
      updatePolicy: polling
      # imagePullSecrets: # Use these secrets if credentials are needed to pull the builder
      # - name: builder-secret
    ```
    - `name`: The name of the builder that will be used to reference by the image.
    - `namespace`: Namespace where the builder builder will be created
    - `image`: Builder image tag.
    - `updatePolicy`: Update policy of the builder. Valid options are `polling` and `external`
    The major difference between the options is that `external` require a user to update the resource by applying a new
    configuration. While `polling` automatically checks every 5 minutes to see if a new version of the builder image exists
    - `imagePullSecrets`: This is an optional parameter that should only be used if the builder image is in a
    private builder. [To create this secret please reference this link](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials)

* Cluster Builder
    This type of Builder can be used by used inside any namespace. A caveat of having a cluster builder is that
    the image need to exist in a publicly accessible registry.
        Next you can find an example on how to create this resource

        ```yaml
        apiVersion: build.pivotal.io/v1alpha1
        kind: ClusterBuilder
        metadata:
          name: sample-cluster-builder
        spec:
          image: cloudfoundry/cnb:bionic
          updatePolicy: polling
        ```
        - `name`: The name of the builder that will be used to reference by the image.
        - `namespace`: Namespace where the builder builder will be created
        - `image`: Builder image tag.
        - `updatePolicy`: Update policy of the builder. Valid options are `polling` and `external`
        The major difference between the options is that `external` require a user to update the resource by applying a new
        configuration. While `polling` automatically checks every 5 minutes to see if a new version of the builder image exists

## <a id='create-image'></a> Creating an Image Resource

There are several resource types that will work together to produce an image resource.  Below, we will review how to configure and create each resource. Note that the yaml resources contain a `name` field. Users should reference these names when configuring other resource types. In order to apply a particular resource type, use `kubectl apply -f ~/path/to/resource.yml`

1. Create a namespace. This defines the partition inside which all of the builds will run.

```yaml
apiVersion: v1
kind: Namespace
metadata:
    name: build-namespace
```

1. Create a secret so that kpack can push image builds to your desired registry. The `name` of this credential will be referenced to create a service account.

    1. GCR example

    ```yaml
    apiVersion: v1
    kind: Secret
    metadata:
     name: basic-auth-gcr
     namespace: build-namespace
     annotations:
       build.pivotal.io/docker: gcr.io
    type: kubernetes.io/basic-auth
    stringData:
     username: <username>
     password: <password>
    ```

    1. Docker Hub example

    ```yaml
    apiVersion: v1
    kind: Secret
    metadata:
     name: basic-auth-docker
     namespace: build-namespace
     annotations:
       build.pivotal.io/docker: index.docker.io
    type: kubernetes.io/basic-auth
    stringData:
     username: <username>
     password: <password>
    ```

1. Create a secret for pull access from the desired git repository. The example below is for a github repository.
You can also specify a personal access token. If you are building against source code that lives in a public registry,
you do not need to configure a git secret.  The `name` of this credential will be referenced to create a service account (step 4).

    ```yaml
    apiVersion: v1
    kind: Secret
    metadata:
      name: basic-git-user-pass
      namespace: build-namespace
      annotations:
        build.pivotal.io/git: https://github.com
    type: kubernetes.io/basic-auth
    stringData:
      username: <username>
      password: <password>
    ```

1. Create a service account that uses the docker registry secret and the git repository secret.
When configuring the image resource, reference the `name` of your registry credential and the `name` of your git credential.

    ```yaml
    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: service-account
      namespace: build-namespace
    secrets:
      - name: basic-docker-user-pass
      - name: basic-git-user-pass
    ```

1. Apply an image configuration to the cluster. In addition to specifying the source code url and any build time
environment variable names and values your app needs, users can also exercise additional control over how kpack
executes builds. Users can do this by specifying cache size, build history limit, and resources used.

    If you would like to build an image from a git repo:

    ```yaml
    apiVersion: build.pivotal.io/v1alpha1
    kind: Image
    metadata:
      name: sample-image
      namespace: build-namespace
    spec:
      tag: gcr.io/project-name/app
      serviceAccount: service-account
      builder:
        name: sample-builder
        kind: ClusterBuilder
      cacheSize: "1.5Gi" # Optional, if not set then the caching feature is disabled
      failedBuildHistoryLimit: 5 # Optional, if not present defaults to 10
      successBuildHistoryLimit: 5 # Optional, if not present defaults to 10
      source:
        git:
          url: https://github.com/buildpack/sample-java-app.git
          revision: master
      build: # Optional
        env:
          - name: BP_JAVA_VERSION
            value: 8.*
        resources:
          limits:
            cpu: 100m
            memory: 1G
          requests:
            cpu: 50m
            memory: 512M
    ```

    If you would like to build an image from an hosted zip or jar:

    ```yaml
    apiVersion: build.pivotal.io/v1alpha1
    kind: Image
    metadata:
      name: sample-image
      namespace: build-namespace
    spec:
      tag: gcr.io/project-name/app
      serviceAccount: service-account
      builder:
        name: sample-builder
        kind: ClusterBuilder
      cacheSize: "1.5Gi" # Optional, if not set then the caching feature is disabled
      failedBuildHistoryLimit: 5 # Optional, if not present defaults to 10
      successBuildHistoryLimit: 5 # Optional, if not present defaults to 10
      source:
        blob:
          url: https://storage.googleapis.com/build-service/sample-apps/spring-petclinic-2.1.0.BUILD-SNAPSHOT.jar
      build: # Optional
        env:
          - name: BP_JAVA_VERSION
            value: 8.*
        resources:
          limits:
            cpu: 100m
            memory: 1G
          requests:
            cpu: 50m
            memory: 512M
    ```