---
title: Using Tanzu Build Service
owner: Build Service Team
---

This topic describes how to manage images, builds, secrets, builders, the stack, the store, and projects with Build Service.

See the following topics:

<ul>
    <li>
        <a href="accessing-tbs.html">Accessing Tanzu Build Service</a>
    </li>
    <li>
        <a href="managing-stack.html">Managing the Stack</a>
    </li>
    <li>
        <a href="managing-store.html">Managing the Store</a>
    </li>
    <li>
        <a href="managing-projects.html">Managing Projects</a>
    </li>
    <li>
        <a href="managing-builders.html">Managing Builders</a>
    </li>
    <li>
        <a href="managing-secrets.html">Managing Secrets</a>
    </li>
    <li>
        <a href="managing-images.html">Managing Images and Builds</a>
    </li>
</ul>