---
title: Setting up Builder Webhooks
owner: Build Service Team
---

<strong><%= modified_date %></strong>

This topic describes how to set up builder webhooks for Pivotal Build Service. 

By default, Build Service polls its image registry to know when buildpacks have been udpated for a builder image. This allows the Build Service to rebuild your images when updated buildpacks are available. 

You may want to use webhooks instead of relying on the default polling behavior. Using webhooks avoids the polling delay when a builder image has been updated with new buildpacks.

## <a id='supported-image-registries'></a> Supported Image Registries

You can set up builder webhooks for any of image registries in this section. 

### <a id='artifactory'></a> Artifactory

To set up builder webhooks for Artifactory:

<p class="note"><strong>Note</strong>: The artifactory repository must be the same one used when you ran <code>duffle relocate</code> during the Build Service installation.</p>


1. Follow the installation instructions for the [Artifactory Webhook Plugin](https://github.com/jfrog/artifactory-user-plugins/tree/master/webhook).

1. Configure the plugin to send `docker.tagCreated` events to the `BUILD-SERVICE-API/v1/artifactory/webhook` endpoint. See the following example configuration:

  ```yaml
  {
    "webhooks": {
      "ci": {
        "url": "BUILD-SERVICE-API/v1/artifactory/webhook",
        "events": [
          "docker.tagCreated"
        ],
        "repositories": ["ARTIFACTORY-REPOSITORY"],
        "format": "default"
      },
    }
  }
  ```
### <a id='docker-notifications'></a>Docker Registry Notifications

To set up notifications for [Docker registry](https://docs.docker.com/registry/):

<p class="note"><strong>Note</strong>: The Docker registry must be the same one used when you ran <code>duffle relocate</code> during the Build Service installation.</p>

1. Follow the [configuration instructions for docker notifications](https://docs.docker.com/registry/notifications/).

1. Add a notification endpoint to your registry configuration. See the following example:

  ```yaml
   notifications:
      endpoints:
        - name: build-service
          url: BUILD-SERVICE-API/v1/docker/notification
          timeout: 5s
          threshold: 5
          backoff: 10s
  ```


### <a id='dockerhub'></a>Dockerhub

To set up builder webhooks for [Docker Hub](https://hub.docker.com/):

1. Follow the [Dockerhub Hub Webhook Instructions](https://docs.docker.com/docker-hub/webhooks/) to add a webhook for the relocated builder image. 
  * The name of this image can be found with:

    ```bash
    kubectl get builder build-service-builder -n build-service-builds -o jsonpath='{.spec.image}'
    ```
  * The webhook should be configured to use the `BUILD-SERVICE-API/v1/docker/webhook` endpoint.
    <p class="note warning"><strong>Warning</strong>: Docker Hub requires the build service to use a CA-Signed Certificate.</p>
